*.pyc

benchmarks/bodytrack/inputs
benchmarks/bodytrack/outputs
benchmarks/bodytrack/src
benchmarks/ferret/inputs
benchmarks/ferret/outputs
benchmarks/ferret/src
benchmarks/fluidanimate/inputs
benchmarks/fluidanimate/outputs
benchmarks/fluidanimate/src
